* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/** Common */
.btn {
    min-width: 186px;
    height: 68px;
    border-radius: 1.4rem;
    background-color: #1ebfc1;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 20px 41px;
    border: none;
}

.main-heading {
    color: #070707;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.5;
}

.btn:hover {
    opacity: 0.9;
}

.content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 270px);
}

a {
    text-decoration: none;
}

/** Header */
.header {
    height: 48px;
    background-color: #fff;
    margin-top: 52px;
    margin-bottom: 50px;
}

.header .body {
    display: flex;
    align-items: center;
}

.header .navigation {
    margin-left: auto;
}

.header .list {
    display: flex;
    margin-right: 138px;
}

.header .list a {
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
    margin-right: 39px;
}

.header .list a:hover,
.header .list .item.active a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.header .cta-login {
    color: #494949;
    text-align: center;
    font-size: 1.6rem;
    margin-right: 24px;
}

.header .cta-login:hover {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.header .btn-sign-up {
    color: #1ebfc1;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    padding: 12px 24px;
    background-color: transparent;
    cursor: pointer;
    min-width: 108px;
}

.header .btn-sign-up:hover {
    background-color: var(--primary-color);
    color: white;
}

/** Hero */
.hero .body {
    display: flex;
    align-items: center;
}

.hero .hero-info {
    width: 39%;
    margin-right: 136px;
}

.hero-info .heading {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16; /* 116.129% */
    width: 458px;
    margin-bottom: 46px;
}

.hero-info .welcome {
    color: #767e7e;
    font-size: 1.4rem;
    margin-bottom: 18px;
}

.hero-info .desc {
    color: #9da6a5;
    font-size: 1.8rem;
    line-height: 1.7; /* 177.778% */
    max-width: 374px;
    margin-bottom: 52px;
}

.hero-info .cta-group {
    display: flex;
}

.hero-info .play {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    border: none;
    background-color: #fff;
    border-radius: 62px;
    box-shadow: 0 22px 50px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    margin-left: 50px;
}

.hero .hero-media {
    position: relative;
}

.hero-media .hero-images {
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero-media .stats-course {
    border-radius: 1.8rem;
    background: #fefefd;
    min-width: 157px;
    height: 75px;
    display: flex;
    align-items: center;
    padding: 17px 25px;
    justify-content: space-between;
    position: absolute;
    right: 459px;
    top: 149px;
}

.hero-media .desc-stat {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.hero-media .stats-schedules {
    min-width: 124px;
    height: 132px;
    padding: 16px 36px;
    border-radius: 1.8rem;
    background: #fefefd;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 517px;
    bottom: 46px;
}

.hero-media .stats-active-students {
    padding: 17px 35px;
    min-width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #fefefd;
    position: absolute;
    bottom: 41px;
    right: 45px;
}

.hero-media .avatars {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7px;
}

.hero-media .avatar {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -7px;
}

/** Feature */
.feature {
    margin-top: 130px;
}

.feature .label {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 18px;
    letter-spacing: 5px;
}

.feature .main-heading {
    width: 577px;
}

.feature .desc {
    color: #767e7e;
    font-size: 1.8rem;
    line-height: 1.5;
    width: 590px;
}

.feature .feature-list {
    margin-top: 80px;
    display: flex;
}

.feature .feature-item {
    width: 223px;
    margin-right: 200px;
}

.feature .feature-item .icon {
    margin-bottom: 26px;
}

.feature .feature-item .title {
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 16px;
}

.feature .feature-item .desc {
    width: 223px;
    color: #9da6a5;
    font-size: 1.6rem;
    line-height: 1.68; /* 168.75% */
}

/** Courses */
.courses {
    margin: 130px 0 389px;
}

.courses .label {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 6px;
    margin-bottom: 18px;
}

.courses .courses-top {
    margin: 18px 0 79px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses .courses-top .desc {
    color: #767e7e;
    font-size: 1.8rem;
    line-height: 1.77; /* 177.778% */
}

.courses .courses-top .linked {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.courses-list {
    display: flex;
    gap: 47px;
}

.courses-list .courses-item {
    width: calc(33.3% - 31.3px);
    position: relative;
}

.courses-item .thumb {
    background: #d0efed;
    width: 100%;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.6;
}

.courses-item .courses-detail {
    width: 325px;
    height: 195px;
    border-radius: 8px;
    background: #fff;
    padding: 18px 25px 11px;
    box-shadow: 0 16px 90px 0 rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 322px;
    left: 17px;
    right: 17px;
}

.courses-item .courses-detail .title {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.courses-item .courses-detail .price {
    color: #767e7e;
    font-size: 1.6rem;
    margin-bottom: 6px;
}

.courses-item .courses-detail .price strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.5;
}

.courses-item .courses-detail .desc {
    color: #9da6a5;
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
}

.courses-detail .course-stat {
    display: flex;
}

.courses-detail span.desc::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: var(--primary-color);
    border-radius: 50%;
    margin-right: 10px;
}

.courses-detail span.desc:first-child {
    margin-right: 10px;
}

/** Statis */
.statis .body {
    width: 862px;
    max-width: calc(100% - 600px);
    margin-left: auto;
    margin-right: auto;
}

.statis .statis-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.statis .statis-number {
    color: #0d1111;
    text-align: center;
    font-size: 6.2rem;
    font-weight: 700;
}

.statis .desc {
    color: #767e7e;
    text-align: center;
    font-size: 1.8rem;
}

.about {
    margin-top: 264px;
}

.about .body {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.about .content-block {
    width: 24%;
}

.about .content-block .open-quote {
    margin-bottom: 27px;
}

.about blockquote {
    color: #5d6564;
    font-size: 3.2rem;
    line-height: 1.5; /* 150% */
    width: 419px;
    margin-bottom: 33px;
}

.about .author {
    color: #767e7e;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    margin-bottom: 52px;
}

.about .author::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 2px;
    background: #070707;
    margin-right: 5px;
}

.about .author strong {
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
}

.about .content-block .arrow {
    display: flex;
}

.about .content-block .btn-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    height: 50px;
    border-radius: 5rem;
    background: var(--primary-color);
    border: none;
    margin-right: 30px;
    cursor: pointer;
}

.about .content-block .btn-arrow:hover {
    background-color: #12797b;
}

.about .media-block {
    width: 38%;
    position: relative;
}

.about .media-block .avatar {
    border-radius: 50%;
    position: absolute;
}

.media-block .avatar.avatar-main {
    min-width: 235px;
    height: 235px;
    background-color: #ff8282;
    right: 171px;
    top: 107px;
}

.media-block .avatar.avatar-1 {
    min-width: 92px;
    height: 92px;
    background-color: #1ebfc1;
    top: 0;
    left: 144px;
}

.media-block .avatar.avatar-2 {
    min-width: 78px;
    height: 78px;
    background-color: #ffc147;
    left: 0;
    bottom: 145px;
}

.media-block .avatar.avatar-3 {
    min-width: 78px;
    height: 78px;
    background-color: #ff947a;
    bottom: 0;
    left: 212px;
}

.media-block .avatar.avatar-4 {
    min-width: 78px;
    height: 78px;
    background-color: #b1dfdc;
    bottom: 29px;
    right: 32px;
}

.media-block .avatar.avatar-5 {
    min-width: 110px;
    height: 110px;
    background-color: #bf83ff;
    right: 0;
    top: 19px;
}
